<section id="home">
    <div class="show">
        <img src="/assets/pict/massEffectMain.jpg" class="img-fluid w-100" alt="pictMain" />
        <div class="navbar navbar-expand-lg">
            <div class="navbar-brand">
                <a routerLink="/home"><img src="/assets/pict/massEffectN7Logo.png" class="img-fluid w-100" alt="n7Logo" /></a>
            </div>
            <button type="button" id="btnConnect" data-bs-toggle="modal" data-bs-target="#connect"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
        </div>
    </div>
</section>